@keyframes pulse{
    from{
        transform: scale(1,1);
    }
    to{
        transform: scale(1.03, 1.03);
    }
}
body {
    background-color: rgba(0, 0, 0, 0.95);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.corpo {
    position: absolute;
    height: 100%;
    width: 100%;
}
.conteudo {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.logo {
    height: 280px;
    margin-bottom: 20px;
	transition: all 1s ease-in-out;
}
.pulse {
    animation: pulse 2s infinite alternate;
    transition: all 1s ease-in-out;
}
.texto {
    color: rgba(90, 90, 90, 1);
}
.cheat-enabled{
	transition: all 1s ease-in-out;
	transform: rotate(180deg);
}
