body {
    background-color: rgba(0, 0, 0, 0.95);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.corpo {
    position: absolute;
    height: 100%;
    width: 100%;
}
.conteudo {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.logo {
    height: 280px;
    margin-bottom: 20px;
	transition: 1s;
}
.texto {
    color: rgba(90, 90, 90, 1);
}
.cheat-enabled{
	transition: 1s;
	transform: rotate(180deg);
}
nav {
	background-color: red
}