body{
	margin: 0;
	padding: 0;
	background-image: url(https://orig11.deviantart.net/20eb/f/2015/030/6/f/_minflat__dark_material_design_wallpaper__4k__by_dakoder-d8fjqzu.jpg);
}

.nav-wrapper{
	background-color: black;
	background-color: rgba(43,43,43,0.5);
}