@media only screen and (max-width: 600px){
	.nav-wrapper ul{
		text-align: center !important;
		float: none !important;
	}
	.nav-wrapper ul li{
		display: inline;
		float: none;
	}
	.nav-wrapper ul li a{
		display: inline-block;
	}
}
.home-background{
	background-color: #f9f9f9;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;
}
.conteudo{

	height: 100%;
}
.navbarcontainer nav{
	background-color: #0081D3
}
.slider img{
	box-shadow: inset 0 0 10px;
}
.no-shadow{
	box-shadow: none;
}

.conteudo .firstblock div div{
padding: 40px
}
.page-footer{
	background-color: #0088b0 !important;
}
.footer-copyright{
	font-size: 0.9em;
}